.nav-wrap {
    top: 0;
    right: 0;    
    z-index: 10;      
    width: 100%;
    height: 100%;    
    max-width: 360px;
    padding: 55px 50px;
    background-color: #F4F4F4;
    position: fixed;  
    transform: translateX(360px);
    transition: all .3s ease-in;
}
.nav-wrap.active {
    transform: translateX(0);
}

#main-nav ul  {
    list-style-type: none;
    padding: 0;
    margin-top: 88px;
}
.nav-header {
    top: 45px;
    z-index: 15;  
    right: 53px;
    width: auto;
    z-index: 100;
    position: fixed;
    text-align: right;    
}
.nav-header span {
    font-size: 20px;
    vertical-align: middle;
}
.nav-btn {
    width: 27px;
    height: 20px;   
    display: inline-block; 
    vertical-align: middle;
    margin-left: 28px;
    cursor: pointer;
}
.nav-btn img {
    max-width: 25px;
    height: auto;
    padding-top: 1px;
    vertical-align: middle;
}


@media only screen and (max-width: 768px) {
    .nav-header {
        right: 40px;
    }
    .nav-wrap.active {
        transform: translateX(30%);
    }
}